---
layout: default
---

<div class="container mx-auto max-w-7xl px-6 lg:px-8 py-10 grow">
  <% if data.title && data.title != "Index" %>
    <h1><%= data.title %></h1>
  <% end %>

  <%= yield %>
</div>
